legend {
	text-align: center;
	margin: 0 auto;
}

.ui-field-contain, fieldset.ui-field-contain {
	border-width: 0px;
}

.ui-page {
	-webkit-backface-visibility: hidden;
}

#add {
	vertical-align: top;
}

#header {
	/*background:url(images/logo_top.png)*/
	background:#FFFFFF;
	padding: 0px;
    border: 0 none;
    
}

.logo_header {
	display: block;
	/*margin-left: auto;
	margin-right:auto;*/
	margin: 20px auto;*/
	width: 100%;
}

#getdata {
	background:#0099cc;
	
	/*background-image: -webkit-gradient(radial, center center, center center, from( #36c6f4 ), to( #006699 )); /* Saf4+, Chrome */
	/*background-image: -webkit-radial-gradient( #36c6f4 , #006699 ); /* Chrome 10+, Saf5.1+ */
	/*background-image:    -moz-radial-gradient( #36c6f4 , #006699 ); /* FF3.6 */
	/*background-image:     -ms-radial-gradient( #36c6f4 , #006699 ); /* IE10 */
	/*background-image:      -o-radial-gradient( #36c6f4 , #006699 ); /* Opera 11.10+ */
	/*background-image:         radial-gradient( #36c6f4 , #006699 );	*/
}

.headtext {
	color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.mydog a, .owner a {
	border:0;
}

.mydog h4 .ui-btn-text, .owner h4 .ui-btn-text{
	color:#FFFFFF;
}

.owner a {
	border-top: 1px solid #FFFFFF;
}

/*img {
  width: 100%;
  max-width: 100%;
}*/


/* Responsive Layout*/
@media only screen and (max-width: 1024px) {
.logo_header {
	width:90%;
}
}
 @media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 640px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 320px) {

}